

.container {
    margin: auto;
    max-width: 80%;
}
/* logo */
#logo {
    vertical-align: middle;
}
.bot-1 {
    background-color: skyblue;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
button {
    background-color: white;
    color: gray;
    padding: 5px;
    border-radius: 10px;
    /* colori cerchi liste */
}
.but-1{
    border-radius: 40%;
    background-color: skyblue;
    padding: 5px 8px;
}
.but-2 {
    border-radius: 40%;
    background-color: blueviolet;
    padding: 5px 8px;
    color: white;
}
.but-3 {
    border-radius: 40%;
    background-color: green;
    padding: 5px 8px;
    color: white;
}
.but-4 {
    border-radius: 40%;
    background-color: orange;
    padding: 5px 8px;
    color: white;
}
 ul li{
    padding: 10px;
    list-style-type: none;
    
}
.but-5{
    border-radius: 40%;
    background-color: rebeccapurple;
    padding: 5px 8px;
    color: white;
}
.but-6{
    border-radius: 40%;
    background-color: darkgoldenrod;
    padding: 5px 8px;
    color: white;
}
.but-7 {
    border-radius: 40%;
    background-color: blue;
    padding: 5px 8px;
    color: white;
}

.circle {
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px 5px;
}

 .color{

    list-style-type: "\25B2  ";

}
