/* logo */
#logo {
    vertical-align: middle;
}
.bot-1 {
    background-color: skyblue;
    color: white;
    padding: 5px;
}
button {
    background-color: white;
    color: gray;
    padding: 5px;
}
.but-1{
    border-radius: 40%;
    background-color: skyblue;
    padding: 5px 8px;
}